.feed-card__avatar {
    width: var(--sizes-12);
    height: var(--sizes-12);
}

@media screen and (min-width: 992px) {
    .feed-card__avatar {
        width: var(--sizes-16);
        height: var(--sizes-16);
    }
}

@media screen and (min-width: 1400px) {
    .feed-card__body {
        padding-top: var(--sizes-9) !important;
        padding-bottom: var(--sizes-9) !important;
        padding-left: var(--sizes-8) !important;
        padding-right: var(--sizes-8) !important;
    }
}
